header {
  padding-top: 10px;
  text-align: center;
  &:not(.header-index) {
    max-height: 320px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
