.btn:hover {
  background: linear-gradient(lighten(rgb(234, 114, 218), 5), lighten(($primary-color), 5));
}

.btn {
  border-radius: 30px 30px 30px 30px;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: linear-gradient(rgb(234, 114, 218), $primary-color);
  border-style: hidden;
  @include font-palette(btn);
  box-shadow: $dish-box-shadow;
}
.btn--order {
  display: block;
  margin: 40px auto 70px;
  padding: 15px 50px;
}